 /* Define o estilo do corpo da página */
 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Cor de fundo clara */
}

/* Define o estilo do contêiner principal */


/* Define o estilo do título principal */
h1 {
    text-align: center; /* Centraliza o texto */
    color: #333; /* Cor do texto */
}

/* Define o estilo do formulário */
form {
    display: flex; /* Usa flexbox para o layout do formulário */
    flex-direction: column; /* Coloca os itens em uma coluna */
}

/* Define o estilo dos rótulos */
label {
    margin-top: 1rem; /* Margem superior */
    color: #333; /* Cor do texto */
}

/* Define o estilo dos inputs de texto */
.input-text {
    margin-top: 0.5rem; /* Margem superior */
    padding: 0.75rem; /* Espaçamento interno */
    font-size: 1rem; /* Tamanho da fonte */
    border: 1px solid #ccc; /* Borda */
    border-radius: 0.5rem; /* Bordas arredondadas */
    width: 100%; /* Largura total */
}

/* Define o estilo dos inputs de número */
.input-number {
    margin-top: 0.5rem; /* Margem superior */
    padding: 0.75rem; /* Espaçamento interno */
    font-size: 1rem; /* Tamanho da fonte */
    border: 1px solid #ccc; /* Borda */
    border-radius: 0.5rem; /* Bordas arredondadas */
    width: 100%; /* Largura total */
}

/* Define o estilo dos inputs de arquivo */
.input-file {
    margin-top: 1.5rem; /* Margem superior */
    padding: 0.75rem; /* Espaçamento interno */
    font-size: 1rem; /* Tamanho da fonte */
    border: 1px solid #ccc; /* Borda */
    border-radius: 0.5rem; /* Bordas arredondadas */
    width: 150px !important; /* Ajuste a largura conforme necessário */
    height: 2.5rem; /* Ajuste a altura conforme necessário */
}
form #imagem.input-file {
    margin-top: 1.5rem; /* Margem superior */
    padding: 0.75rem; /* Espaçamento interno */
    font-size: 1rem; /* Tamanho da fonte */
    border: 1px solid #ccc; /* Borda */
    border-radius: 0.5rem; /* Bordas arredondadas */
    width: 150px !important; /* Ajuste a largura conforme necessário */
    height: 2.5rem; /* Ajuste a altura conforme necessário */
}

/* Define o estilo dos botões */
.button {
    margin-top: 1.5rem; /* Margem superior */
    padding: 0.75rem; /* Espaçamento interno */
    font-size: 1rem; /* Tamanho da fonte */
    background-color: #3b7ddd; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    cursor: pointer; /* Mostra o cursor de ponteiro */
    border: 1px solid violet; /* Borda */
    border-radius: 0.5rem; /* Bordas arredondadas */
}

/* Define o estilo do botão ao passar o mouse */
.button:hover {
    background-color: #0056b3; /* Cor de fundo ao passar o mouse */
}

/* Define o estilo do grupo de cores */
.color-group {
    display: flex; /* Usa flexbox para o layout do grupo */
    gap: 0.5rem; /* Espaçamento entre os itens */
    margin-top: 0.5rem; /* Margem superior */
}

/* Define o estilo dos inputs dentro do grupo de cores */
.color-group .input-color,
.color-group .input-quantity,
.color-group .input-hidden-color,
.color-group .input-hidden-quantity {
    flex: 1; /* Itens flexíveis */
    width: auto; /* Ajusta a largura conforme necessário */
    height: auto; /* Ajusta a altura conforme necessário */
    max-width: 140px; /* Largura máxima ajustável */
    max-height: 50px; /* Altura máxima ajustável */
    margin-top: -1.1rem;
}

/* Define o estilo para elementos ocultos */
.hidden {
    display: none; /* Esconde o elemento */
}

/* Define o estilo dos botões pequenos */
.btn-small {
    padding: 0.5rem; /* Espaçamento interno */
    font-size: 0.875rem; /* Tamanho da fonte */
    width: auto; /* Largura automática */
}

/* Define o estilo das linhas flexíveis */
.flex-row {
    display: flex; /* Usa flexbox para o layout da linha */
    align-items: center; /* Alinha os itens ao centro */
    gap: 1rem; /* Espaçamento entre os itens */
    flex-wrap: wrap; /* Permite que os itens quebrem linha */
}

/* Define o estilo dos botões para mostrar/ocultar tamanhos */
.show-more-sizes,
.hide-more-sizes,
.color-ok-button {
    background-color: #007BFF; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    border: none; /* Remove a borda padrão */
    border-radius: 0.5rem; /* Bordas arredondadas */
    font-size: 1rem; /* Tamanho da fonte */
    cursor: pointer; /* Mostra o cursor de ponteiro */
    transition: background-color 0.3s ease; /* Transição suave */
    padding: 0.75rem; /* Espaçamento interno */
    width: auto; /* Largura automática */
}

/* Define o estilo dos botões ao passar o mouse */
.show-more-sizes:hover,
.hide-more-sizes:hover,
.color-ok-button:hover {
    background-color: #0056b3; /* Cor de fundo ao passar o mouse */
}

/* Estilos de responsividade */
@media (min-width: 600px) {
    /* Ajusta a largura do contêiner em telas maiores */
    .container {
        max-width: 80%; /* Largura máxima do contêiner */
    }

    /* Ajusta a justificação da linha flexível */
    .flex-row {
        justify-content: space-between; /* Espaça os itens */
    }

    /* Ajusta a largura dos botões */
    .button {
        width: auto; /* Largura automática */
    }
}

@media (min-width: 768px) {
    /* Ajusta a largura do contêiner em telas maiores */
    .container {
        max-width: 70%; /* Largura máxima do contêiner */
    }

    /* Ajusta a largura dos inputs */
    .input-text,
    .input-number,
    .input-file {
        width: calc(100% - 1rem); /* Largura calculada */
    }
}

@media (min-width: 1024px) {
    /* Ajusta a largura do contêiner em telas maiores */
    .container {
        max-width: 600px; /* Largura máxima do contêiner */
    }

    /* Ajusta a margem superior dos botões */
    .button {
        margin-top: 1rem; /* Margem superior */
    }
}

/* Alinha os botões de tamanho e cor na mesma linha */
.size-color-buttons {
    display: flex; /* Usa flexbox para o layout */
    justify-content: space-between; /* Espaça os itens */
    align-items: center; /* Alinha os itens ao centro */
    gap: 1rem; /* Espaçamento entre os itens */
    margin-top: 1rem; /* Margem superior */
}

/* Estilo para a pré-visualização da imagem */
.image-preview {
    display: flex; /* Usa flexbox para o layout */
    flex-direction: column; /* Coloca os itens em uma coluna */
    align-items: center; /* Alinha os itens ao centro */
    margin-top: -4rem; /* Margem superior */
    position: relative; /* Define o contexto de posicionamento */
    width: 155%; /* Largura responsiva */
    max-width: 210px; /* Largura máxima fixa */
    height: auto; /* Altura automática */
    border: 1px solid #ccc; /* Borda */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    overflow: hidden; /* Esconde o conteúdo que ultrapassar */
}

/* Estilo para a imagem dentro da pré-visualização */
.image-preview img {
    width: 100%; /* Ajusta a largura da imagem para preencher o contêiner */
    height: auto; /* Mantém a proporção da altura */
    border-radius: 0.5rem; /* Bordas arredondadas */
    border: 10px solid violet; /* Borda */
}

/* Contêiner flexível principal */
.flex-container {
    display: flex; /* Usa flexbox para o layout */
    gap: 1rem; /* Espaçamento entre os itens */
}

/* Estilo para a coluna de inputs */
.flex-container .column {
    flex: 1; /* Itens flexíveis */
}

/* Estilo para a coluna da imagem */
.flex-container .image-column {
    flex: 0 10 13rem; /* Tamanho fixo para a coluna da imagem */
    display: flex; /* Usa flexbox para o layout */
    flex-direction: column; /* Coloca os itens em uma coluna */
    align-items: center; /* Alinha os itens ao centro */
    position: relative; /* Define o contexto de posicionamento */
    background: #d3d3d3;
}
#id_do_modelo{
    width: 100%;
    height: 100px;
}

/* Novo estilo para a quantidade total */
.total-quantity-container {
    position: absolute; /* Posiciona o elemento de forma absoluta */
    bottom: -87px; /* Ajusta a distância do elemento quantidade total em relação a imagem o espaço entre um e outro */
    width: 100%; /* Largura total */
    display: flex; /* Usa flexbox para o layout */
    flex-direction: column; /* Coloca os itens em uma coluna */
    align-items: center; /* Alinha os itens ao centro */
}

/* Ajusta a largura do rótulo e input da quantidade total */
.total-quantity-container label,
.total-quantity-container input {
    width: 100%; /* Largura total */
    max-width: 205px; /* Limite de largura */
    margin-top: 0.3rem; /* Margem superior */
}

/* Define o estilo das duas colunas lado a lado */
.flex-container .column-double {
    display: flex; /* Usa flexbox para o layout */
    gap: 1rem; /* Espaçamento entre as colunas */
    width: 100%; /* Largura total */
}

.flex-container .column-double .input-double {
    flex: 1; /* Itens flexíveis */
}